    h1 
    { 
		text-align: center;
		background-color: red;
		font-size: 400%;
    }
	
	nav {
		text-align: center; /* Pour centrer la balise nav */
		background: none; /* à la place de none, on peut mettre une couleur de fond*/
		margin: 20px 0; /* espace vierge à l'extérieur des contours de nav */
		padding: 10px; /* espace vierge à l'intérieur des contours de nav*/
	}
	
	nav a {
		text-decoration: none; /* ou mettre par exemple underline */
		background: #6495ED; /* choix d'une couleur de fond */
		border-radius: 5px; /* coin arrondi de 5 pixels */
		color: black; /* couleur du texte */
  		font-size: 200%; /* taille du texte par rapport aux dimensions standards */
		border:2px solid; /* cadre de 2 pixels de large */
		border-color:#DCDCDC #696969 #696969 #DCDCDC; /* 4 bords : 4 couleurs */
		padding: 3px 50px; /* espace vierge à l'intérieur des contours*/
	}
	
	nav a:hover {   /* permet le changement d'apparence sous le pointeur souris */
		background-color:#D3D3D3;
		border-color:#696969 #DCDCDC #DCDCDC #696969;
	} 
	
	
	section{
		text-align: center; 
		margin : 0px 0px; /* espace extérieur vierge en haut et en bas de l'image */
	}
	
	p {
		text-align: center;
		background-color: #6495ED;
		color: black;
		font-size: 200%;
		margin : 0px 400px; /* espace haut bas et ensuite droite gauche */
		padding : 10px;
	}
	
    h2 
    {
		font-family: Verdana;
		font-style: italic;
		color: green;
    }
	
    h3
    {
		background-color: gray;
		width: 700px;
    }
